<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <h1 class="logo">Edit Product</h1>
    <div class="home"><a href="/">Home</a></div>
    <div class="form">
    <form action="/update" method="post">
        <input type="hidden" name="txtId" value="{{pet._id}}">
        Name: <input type="text" name="txtName" value="{{pet.name}}">
        <br>
        Image: <input type="text" name="txtImage" value="{{pet.image}}">
        <br>
        Price: <input type="text" name="txtPrice" value="{{pet.price}}">
        <br>
        <input class="button" type="submit" value="Update">
    </form>
    </div>
</body>
</html>