body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    color: orangered;
    font-size: 50px;
}
p a{
    text-decoration: none;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 25px;
    background-color: lightskyblue;
    color: black;
}
p a:hover{
    background-color: #9b0d88;
  }
.item {
    display: grid;
    grid-template-columns:16% 16% 16% 16%;
    grid-gap: 1em;
    background-color: lightcoral;
    padding: 10px 10px;
    
  }
.item >div{
    background-color: lemonchiffon;
    padding: 5px 5px;
    font-size: 16px; 
    
}
li{
    padding: 5px 0px 5px 0px;
    list-style: none;
    width: 100%;
    color: #000000;
    font-weight: bold;
}
.image{
    text-align: center;
}
li a{
    color: black;
    padding: 5px 5px;
    text-decoration: none;
}
li a:hover{
    background-color: #9b0d88;
}
.footer{
    height: 30px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 25px;
}